*.swp
*.swo
*.log
.DS_Store
GIS/
by_address/
by_id/
gis_property_info/
graphs/
*/__pycache__
*.tgz
sandbox/*
meeting_data/cache/*.pdf
meeting_data/processed/current/
processed/*
tmp/
google_credentials/
